## Words

In [3]:
words = ['play', 'filling', 'bar', 'theatre', 'easygoing', 'date', 'lead', 'that', 'story',  'island']

**Print every word in upper case**

In [28]:
# your code here
for x in words:
    print (x.upper())

PLAY
FILLING
BAR
THEATRE
EASYGOING
DATE
LEAD
THAT
STORY
ISLAND

**Create a new list containing only words with 5 or more letters**

In [12]:
# your code here
list2=[]
for x in words:
    if len(x)>=5:
        list2.append(x)
print(list2)

['filling', 'theatre', 'easygoing', 'story', 'island']

**Print the first word starting with "t"**

In [110]:
# your code here 
listt=[]
for x in words:
    if x.startswith("t") == True:
        listt.append(x)
print(listt[0])

theatre

## Numbers

**Create a list containing the square of every number from 1 to 10**

In [111]:
# your code here
list3= []
for x in range (1,10):
    square=x*x
    list3.append(square)
print (list3)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

**Print a list containing the square of every odd number from 1 to 10**

In [112]:
# your code here
list4=[]
for x in range (1,10):
    if x%2!= 0:
        square=x*x
        list4.append(square)
print(list4)

[1, 9, 25, 49, 81]

**Create a list with the squares of all multiples of 8 below 1000**

In [115]:
# your code here
list5=[]
for x in range (1000):
    if x%8 == 0:
        list5.append(x)
print(list5)

[0, 8, 16, 24, 32, 40, 48, 56, 64, 72, 80, 88, 96, 104, 112, 120, 128, 136, 144, 152, 160, 168, 176, 184, 192, 200, 208, 216, 224, 232, 240, 248, 256, 264, 272, 280, 288, 296, 304, 312, 320, 328, 336, 344, 352, 360, 368, 376, 384, 392, 400, 408, 416, 424, 432, 440, 448, 456, 464, 472, 480, 488, 496, 504, 512, 520, 528, 536, 544, 552, 560, 568, 576, 584, 592, 600, 608, 616, 624, 632, 640, 648, 656, 664, 672, 680, 688, 696, 704, 712, 720, 728, 736, 744, 752, 760, 768, 776, 784, 792, 800, 808, 816, 824, 832, 840, 848, 856, 864, 872, 880, 888, 896, 904, 912, 920, 928, 936, 944, 952, 960, 968, 976, 984, 992]

In [116]:
#square de los multiplos de 8 que son menores que 1000
list6=[]
for x in list5:
    square=x*x
    list6.append(square)
print(list6)

[0, 64, 256, 576, 1024, 1600, 2304, 3136, 4096, 5184, 6400, 7744, 9216, 10816, 12544, 14400, 16384, 18496, 20736, 23104, 25600, 28224, 30976, 33856, 36864, 40000, 43264, 46656, 50176, 53824, 57600, 61504, 65536, 69696, 73984, 78400, 82944, 87616, 92416, 97344, 102400, 107584, 112896, 118336, 123904, 129600, 135424, 141376, 147456, 153664, 160000, 166464, 173056, 179776, 186624, 193600, 200704, 207936, 215296, 222784, 230400, 238144, 246016, 254016, 262144, 270400, 278784, 287296, 295936, 304704, 313600, 322624, 331776, 341056, 350464, 360000, 369664, 379456, 389376, 399424, 409600, 419904, 430336, 440896, 451584, 462400, 473344, 484416, 495616, 506944, 518400, 529984, 541696, 553536, 565504, 577600, 589824, 602176, 614656, 627264, 640000, 652864, 665856, 678976, 692224, 705600, 719104, 732736, 746496, 760384, 774400, 788544, 802816, 817216, 831744, 846400, 861184, 876096, 891136, 906304, 921600, 937024, 952576, 968256, 984064]

## People

In [61]:
people = [
    {
        "name": "Juan",
        "age": 34,
        "n_kids": 2
    },
    {
        "name": "Pepe",
        "age": 27,
        "n_kids": 0
    },
    {
        "name": "Sonia",
        "age": 41,
        "n_kids": 1
    },
    {
        "name": "Lucía",
        "age": 22,
        "n_kids": 2
    },
    {
        "name": "Leo",
        "age": 55,
        "n_kids": 5
    }
]

**How many people are there?**

In [62]:
# your code here
len(people)

5

**How many people have kids**?

In [103]:
# your code here
list7= []
for x in people:
    list7.append(x["n_kids"])

list8=[]
for y in list7:
    if y>0:
        list8.append(y)
len(list8)

4

In [107]:
list9= []
for x in people:
    if x["n_kids"] > 0:
         list9.append(x)
len(list9)

4

**How many kids do they have in total?**

In [104]:
# your code here
sum(list8)

10

In [109]:
sum(list7)

10

**In a year's time, names ending with "a" will have an extra kid. Create a dictionary with people's info in a year's time**

In [106]:
# your code here
for x in people:
    if x["name"][-1]=="a":
        x["n_kids"]+=1
print(people)

[{'name': 'Juan', 'age': 34, 'n_kids': 2}, {'name': 'Pepe', 'age': 27, 'n_kids': 0}, {'name': 'Sonia', 'age': 41, 'n_kids': 2}, {'name': 'Lucía', 'age': 22, 'n_kids': 3}, {'name': 'Leo', 'age': 55, 'n_kids': 5}]