## Words

In [31]:
words = ['play', 'filling', 'bar', 'theatre', 'easygoing', 'date', 'lead', 'that', 'story',  'island']

**Print every word in upper case**

In [3]:
for x in words:
    print(x.upper())

PLAY
FILLING
BAR
THEATRE
EASYGOING
DATE
LEAD
THAT
STORY
ISLAND

In [4]:
print(type(words))
words=str(words)
words.upper()

<class 'list'>

"['PLAY', 'FILLING', 'BAR', 'THEATRE', 'EASYGOING', 'DATE', 'LEAD', 'THAT', 'STORY', 'ISLAND']"

**Create a new list containing only words with 5 or more letters**

In [5]:
for x in words:
    len(x) >= 5
    print(x)

[
'
p
l
a
y
'
,

'
f
i
l
l
i
n
g
'
,

'
b
a
r
'
,

'
t
h
e
a
t
r
e
'
,

'
e
a
s
y
g
o
i
n
g
'
,

'
d
a
t
e
'
,

'
l
e
a
d
'
,

'
t
h
a
t
'
,

'
s
t
o
r
y
'
,

'
i
s
l
a
n
d
'
]

**Print the first word starting with "t"**

In [33]:
words = ['play', 'filling', 'bar', 'theatre', 'easygoing', 'date', 'lead', 'that', 'story',  'island']
for x in words:
    if x[0]=='t':
        print(x)
        break

theatre

'p'

## Numbers

**Create a list containing the square of every number from 1 to 10**

In [6]:
for n in range(1,11):
    n=n**2
    print(n)

1
4
9
16
25
36
49
64
81
100

**Print a list containing the square of every odd number from 1 to 10**

In [7]:
for n in range(1,11):
    n = n%2!=0 and n**2
    print(n)

1
False
9
False
25
False
49
False
81
False

In [8]:
lista=[]
for n in range(1,11):
    if n%2!=0:
        cuadrado=n**2
        lista.append(cuadrado)

print(lista)

[1, 9, 25, 49, 81]

**Create a list with the squares of all multiples of 8 below 1000**

In [27]:
listo=[]
for n in range(100):
    if n%8==0:
        cuad=n**2
        listo.append(cuad)
        
print(listo)

[0, 64, 256, 576, 1024, 1600, 2304, 3136, 4096, 5184, 6400, 7744, 9216]

In [25]:
for n in range(100):
    n= n%8==0 and n**2
    print(n)

0
False
False
False
False
False
False
False
64
False
False
False
False
False
False
False
256
False
False
False
False
False
False
False
576
False
False
False
False
False
False
False
1024
False
False
False
False
False
False
False
1600
False
False
False
False
False
False
False
2304
False
False
False
False
False
False
False
3136
False
False
False
False
False
False
False
4096
False
False
False
False
False
False
False
5184
False
False
False
False
False
False
False
6400
False
False
False
False
False
False
False
7744
False
False
False
False
False
False
False
9216
False
False
False

## People

In [46]:
People = [
    {
        "name": "Juan",
        "age": 34,
        "n_kids": 2
    },
    {
        "name": "Pepe",
        "age": 27,
        "n_kids": 0
    },
    {
        "name": "Sonia",
        "age": 41,
        "n_kids": 1
    },
    {
        "name": "Luc√≠a",
        "age": 22,
        "n_kids": 2
    },
    {
        "name": "Leo",
        "age": 55,
        "n_kids": 5
    }
]

**How many people are there?**

In [12]:
len(People)

5

**How many people have kids**?

In [20]:
listap=[]
for valor in People:
    if valor["n_kids"] > 0:
        print(valor["n_kids"])
        listap.append(valor["n_kids"])

print(listap)
        
len(listap)

2
1
2
5
[2, 1, 2, 5]

4

In [10]:
kids=[]

for x in People
     if People

SyntaxError: invalid syntax (<ipython-input-10-d1234e141529>, line 3)

**How many kids do they have in total?**

In [22]:
listap2=sum(listap)
print(listap2)

10

**In a year's time, names ending with "a" will have an extra kid. Create a dictionary with people's info in a year's time**

In [47]:

for valor in People:
    valor["age"]+=1
    if valor["name"][-1]=="a":
        valor["n_kids"]+=1

print(People)

[{'name': 'Juan', 'age': 35, 'n_kids': 2}, {'name': 'Pepe', 'age': 28, 'n_kids': 0}, {'name': 'Sonia', 'age': 42, 'n_kids': 2}, {'name': 'Luc√≠a', 'age': 23, 'n_kids': 3}, {'name': 'Leo', 'age': 56, 'n_kids': 5}]